*,
*:before,
*:after {
  box-sizing: border-box;
}

// Clearfix

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

// Base

html {
  height: 100%;
}

body {
  height: 100%;
  font: 1.1em/1 $base-font-family;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.875em;
  letter-spacing: -1px;
  color: #222;
  font-weight: bold;
}

h2 {
  font: italic 1.2em/1.3em Georgia, serif;
  color: #bbb;
}

// Spacing

.post h1,
h3,
h4,
h5,
p,
.post-body ul,
#post-list li,
pre {
  margin-bottom: 15px;
}

.profile {
  #wrapper {
    padding: 100px 40px 0px;
    max-width: 600px;
    margin: 0 auto;
  }

  #header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
  }

  #avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 20px;
    color: #222;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
    font-family: $base-font-family;
    font-style: normal;
  }
}

nav.main-nav {
  padding: 20px 20px 0;
  /*max-width: 600px;*/
  /*width:100%;*/
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  text-align: right;
  /*position: fixed;*/
  z-index: 100;

  a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: #5badf0;
    font-size: 13px;
    /*font-weight: bold;*/
    line-height: 1.35;
    border-radius: 3px;

    &.cta {
      background: #5badf0;
      color: #fff;
      margin-left: 12px;
    }
  }
}

#wrapper {
  max-width: 720px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;

  &.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
  }
}

.home #avatar {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

// Transitions

a,
#post-nav a,
#post-list a {
  transition: all 0.15s ease;
}

// Lists

ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 15px;
}

li {
  list-style-type: circle;
}

// Tables

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,
td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr > td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td {
  background: #fcfcfc;
}

thead th,
th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

// Images

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

// Made with Cactus Badge
#badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
}
