// Media Queries
@media screen and (max-width: 540px) {
  #wrapper {
    padding: 20px 20px 20px 20px;
  }

  #header {
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
  }

  .post {
    margin: 40px 0;
  }

  #footer {
    margin-top: 60px;
  }

  #post-list,
  #archive-list {
    margin-top: 0;
  }

  #post-meta {
    margin-top: 60px;
  }

  #title {
    font-size: 17px;
  }

  #post-list .dates {
    display: none;
  }

  #post-list-footer {
    margin-top: 20px;
    padding-top: 40px;
  }

  h1 {
    font-size: 26px;
  }

  .post {
    h2.headline {
      font-size: 13px;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
